#book_status
{
  font-size: 14px;
}

#votes
{
  margin-bottom: 15px;
  margin-top   : 15px;
}

/**** Book Suggestions Listing ****/

.vote_box {
  background-color: #BFBFBF;
}

#books_list .grid_12 {
  border-bottom: 1px dotted #BFBFBF;
  margin-left: -17px;
}

.book_suggestion {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.book_suggestion div {
  float: left;
  height: 40px;
  margin-right: 5px;
}

.book_suggestion .actions {
  margin-left: 10px;
  padding-top: 10px;
  text-align: center
}

.book_suggestion .name {
  margin-top: 2px;
  font-size: 170%;
  display:block;
  float: left;
}

.book_suggestion .authors {
  margin-top: 5px;
  display:block;
  float: left;
}
