<% title(@book.name, 'Books') %>

<h2><%= @book.name %></h2>

<h3><%= @book.authors %></h3>

<div id="votes">
  UP Votes: <%= Vote.up(@book).count %>
</div>

<%= link_to "Vote Up", vote_up_book_path(@book) %>
