<table id="books_list">
  <tr>
    <th> Votes   </th>
    <th> Book    </th>
    <th> Authors </th>
    <th> Actions </th>
  </tr>
  <% @books.each_with_index do |book, index| %>
    <%=
      render "reserved_book", :book => book
    %>
  <% end %>
</table>
