<div id="books_list" class="grid_12">
  <% @books.each_with_index do |book, index| %>
    <%= render "books/book_item", :book => book, :book_type => "reserved"  %>
  <% end %>
</div>
<div class="clear"></div>
